.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px; /* 실제 text가 들어갈 공간보다 padding이 크게 되면 block사이즈가 커진다.*/
  width: 100%;
  border: none;
  text-align: left; /* 글자 위치가 왼쪽으로 붙음*/
  outline: none; /*border와 차이점 : outline은 단지 테두리만 생기는 것 뿐, border은 두께만큼 박스의 전체 크기도 커진다.*/
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  /* display: none; none 있으면 작동안함*/
  max-height: 0; /*display: none 대신에 display heigth를 0으로 둬서 없는 것처럼 둔다.*/
  background-color: white;
  overflow: hidden; /* 부모 영역 바깥으로 나가면 해당 부분 자르기 */
  transition: max-height 0.2s ease-out; /* 적용 됨*/
}

/* ::after 는 가상 요소로 content라는 가상 요소가 생성된다. */
.accordion::after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* active::after가 .accordion::after보다 아래에 위치하므로 마지막 적용이 됨*/
.active::after {
  content: "\2796";
}
