.container {
  /* display : block으로 할 것인지 inline으로 할 것인지 정해줌 */
  display: flexbox;
  /* cursor : 해당 div에 접근시 커서 변경 */
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  /* transition : action이 일어나는 시간 */
  transition: 1s;
}

.change .bar1 {
  /* 어떻게 작동되는지 헷갈리면 translate, rotate 따로 따로 작동시켜보기 */
  /* translateY : 세로로 내려감 */
  /* rotate : div 중심점을 기준으로 회전 */
  transform: translateY(11px) rotate(45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translateY(-11px) rotate(-45deg);
}
