.icon-bar {
  width: 90px;
  background-color: #555;
}

.icon-bar a {
  display: block; /* a : inline -> icon-bar div 내에서 위치 수정을 위해 block 처리 */
  text-align: center; /*a : block -> 내부 img(inline) 요소 중간 정렬 */
  padding: 16px;
  transition: all 1s, ease; /* 왜 적용한 것인지 잘 모르겠음 */
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04aa6d;
}
